************************************************************************************
                         Esta é uma mensagem automática
************************************************************************************

Prezado {{ nome }},

As credenciais de acesso dos times do campus {{ campus }} ao BOCA para o {{ evento }} serão enviadas na quarta-feira pela manhã para as equipes, por email. Todos os emails informados durante as inscrições foram confirmados, e não devemos ter emails retornando por email incorreto novamente -- assim esperamos!  Se possível, confirme com os alunos na quinta-feira se todos receberam as credenciais.

Os coordenadores locais e os coaches receberão cópia das credenciais para o caso de alguma equipe alegar não ter recebido, ou ter perdido/esquecido as credenciais. 

O arquivo PDF com a prova será enviado, também, na quarta-feira pela manhã. O PDF tem **30 páginas**, que podem ser impressas frente e verso, totalizando 15 folhas por prova. No caso do campus {{ campus }}, serão aproximadamente {{ (total_equipes + 2) * 15 }} folhas para imprimir {{ (total_equipes + 2) }} cópias ({{ total_equipes }} para as equipes, e duas de reserva).

Recomendamos acondicionar cada cópia em um envelope individual e afixar a etiqueta com as credenciais da equipe no envelope: assim, se na hora alguma equipe esquecer as credencias, eles já terão uma cópia disponível.

Manter o sigilo da prova é fundamental para o sucesso do evento, e para garantir que as equipes possam competir em igualdade de condições.

Caso ainda não tenha se inscrito no grupo temporário para informes rápidos durante a prova (vai ser apagado logo após), por favor o faça pelo link abaixo:

https://chat.whatsapp.com/KF8D7hMRgkJJsgyseRdpnq

Em caso de dúvida, entre em contato o quanto antes.

Um grande abraço, e até breve.
Comissão organizadora {{ evento }}

