Ola, {{ nome }}

Espero que esteja tudo bem por aí, e tudo certo para o {{ evento }} amanhã.

Abaixo, um pequeno checklist para ajudar:

19/06/2026
- Deixar as provas impressas dentro dos envelopes
- Separar os balões que serão usados
- Afixar em cada envelope a etiqueta de identificação de um time do campus
- Verificar se todas as máquinas que serão usadas estão funcionando adequadamente
  e com os compiladores e IDEs compatíveis caso não esteja usando o Maratona Linux
- Testar a impressora que será usada caso o campus vá oferecer a impressão de código
  fonte para os alunos, e reservar papel para a impressão
- Afixar as placas de time nos computadores que serão utilizados e, se não estiverem
  todas as equipes no mesmo local, manter uma lista de qual equipe está em qual sala
  para facilitar a entrega de balões/impressões
- Torcer para o Carlo Ancelotti escalar o Endrick. Não, pera, isso não é do InterIF...

20/06/2026
08h00
- Distribuir os envelopes de provas e colocar cada um ao lado da máquina do time de
  acordo com as placas que foram afixadas nos computadores na véspera
- Deixar um computador projetando o placar em cada local onde houver competidor
- Deixar uma máquina logada no usuário staff e acompanhar as tarefas de entrega de balões e
  impressões se o campus for disponibilizar essa funcionalidade

08h10
- Reunir os alunos e lembrá-los das regras da competição
- Pedir que eles guardem e não acessem nenhum dispositivo eletrônico depois que prova
  tiver início. Isso inclui leitores de ebook, laptops, tablets, relógios ou óculos
  inteligentes
- Lembrar que cada equipe só pode usar um computador. Não é permitido usar dois computadores
  ao mesmo tempo
- Lembar às equipes que toda e qualquer dúvida precisa ser enviada pelo próprio BOCA, na
  aba de Clarifications. A equipe local não pode tiver dúvidas sobre problemas ou sobre o
  uso do BOCA
- Lembrar que os coaches não podem conversar/ajudar as equipes depois que a prova tiver
  início
- Alertá-los para não abrir o envelope antes do horário de início da prova (programado
  para as 08h30)
- Encaminhar os alunos para os locais atribuídos às respectivas equipes
- Garantir que haja um responsável em cada local de prova para  garantir que nenhuma equipe
  está usando dispositivos eletrônicos ou um segundo computador durante a prova
- Se alguma equipe estiver incompleta (com menos de 2 participantes), ela NÃO PODE PARTICIPAR

08h30
- A prova tem início
- Iniciar o monitoramento das tarefas na máquina onde o usuário staff está logado
- Ficar de olho no grupo de Whatsapp para qualquer comunicado urgente

09h00
- Passar a lista de presença e coletar a assinatura dos alunos e da equipe local
  (coordenador e coaches)

11h00
- Digitalizar as listas de presença assinadas e mandar por email para interif@ifsp.edu.br

11h30
- A prova acaba

11h40
- Divulgação do resultado local, de acordo com a programação do próprio campus. Lembre
  que a URL para usar o Reveleitor está no Manual de Coordenador local que foi enviado
  já faz algumas semanas.


Se tiverem qualquer dúvida, por favor entrem em contato.

Atenciosamente,
Comissão organizadora {{ evento }}

