************************************************************************************
                         Esta é uma mensagem automática
************************************************************************************

Prezados participantes,

Após a validação das equipes inscritas, temos o prazer de informar que a equipe "{{ nome }}" está regularmente inscrita para participar da primeira fase do IX InterIF no campus {{ campus }}!

Lembramos que a prova acontecerá no dia 20/06/2026, com início às 08h30, mas recomendamos que cheguem antes, para poderem se acomodar com calma no espaço designado à sua equipe.

Pode ser que, ao chegarem, já exista um envelope com o caderno de provas sobre a sua bancada de trabalho. O envelope com o caderno de provas só pode ser aberto depois do início da prova às 08h30. A violação do envelope antes do início da prova será considerada como infração das regras da competição e pode resultar na desclassificação da equipe.

Em caso de dúvida, entrem em contato com o seu coach ({{ coach }}) ou com o seu coordenador local ({{ coord_nome }}).

Um grande abraço, e até breve.
Comissão organizadora {{ evento }}

