************************************************************************************
                         Esta é uma mensagem automática
************************************************************************************

Prezado {{ nome }},

Este email contém o arquivo PDF com o Caderno de Prova do {{ evento }}. O arquivo com a lista de presença do campus está seguindo em outro email.

Não precisamos lembrar que a manutenção do sigilo do Caderno até o início da prova às 08h30 do dia 20/06/2026 é fundamental para o sucesso do evento, e para que as equipes possam concorrer em igualdade de condições.

Cada equipe deve ter acesso a apenas **uma cópia** do Caderno de Prova. Recomendamos que acondicione a cópia em um envelope separado e deixe-o sobre a mesa da equipe, com a etiqueta de identificação da equipe enviada mais cedo e com instruções explícitas para que os alunos só violem o envelope depois do início da prova. O próprio BOCA avisa do início da prova ao começar a contagem regeressiva no relógio que fica na parte superior da tela.

As cores dos balões estão listadas no manual do coordenador que foi enviado por email em 26/05/2026. Para referência rápida, ei-las aqui também:

- Branco (FFFFFF)
- Preto (000000)
- Vermelho (FF0000)
- Amarelo (FFFF00)
- Verde (00FF00)
- Azul (0000FF)
- Rosa (FFCBDB)
- Roxo (993399)
- Laranja (FFA500)
- Ciano/Azul claro (00FFFF)
- Marrom (964B00)

No caso do campus {{ campus }}, sugerimos imprimir {{ total_equipes + 2 }} cópias, para ter 2 cópias de reserva.

Pedimos que leia o manual de coordenador enviado anteriormente e inscreva-se no grupo temporário de WhatsApp para comunicados rápidos durante a prova por meio do link https://chat.whatsapp.com/KF8D7hMRgkJJsgyseRdpnq .

Em caso de dúvida, entrem em contato o quanto antes.

Um grande abraço, e sucesso no sábado!
Comissão organizadora {{ evento }}
