************************************************************************************
                         Esta é uma mensagem automática
************************************************************************************

Prezado {{ nome }},

Após a validação das equipes inscritas, esta é a lista final com a(s) {{ total_equipes }} equipe(s) inscrita(s) para participar da primeira fase do IX InterIF no campus {{ campus }}.
{% for e in equipes %}
▸ {{ e.nome }}
  Coach: {{ e.coach }}
  Participantes ({{ e.total_participantes }}):
  {% for p in e.participantes %}  • {{ p.nome }} <{{ p.email }}>
  {% endfor %}
{%- endfor %}
Lembramos que a prova acontecerá no dia 20/06/2026, com início às 08h30.

Recomendamos que peça aos alunos para chegarem ao campus às 08h00 para que possam se acomodar nos laboratórios de forma tranquila e estarem prontos para o ínicio às 08h30.

O arquivo PDF com a prova será enviado até o dia 18/06. Deve ser entregue apenas **uma cópia** do caderno de provas para cada equipe. Recomendamos que acondicione cada cópia em um envelope separado deixe-o sobre a mesa da equipe, com instruções explícitas para que os alunos só violem o envelope depois do iníco da prova. No caso do seu campus, sugerimos imprimir {{ total_equipes + 2 }} cópias, para ter 2 cópias de reserva.

Pedimos que leia o manual de coordenador enviado anteriormente e inscreva-se no grupo temporário de WhatsApp para comunicados rápidos durante a prova.

Em caso de dúvida, entrem em contato o quanto antes.

Um grande abraço, e até breve.
Comissão organizadora {{ evento }}

